@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}
body{
    width:100%;
    height:100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#manual-input{
    margin-bottom: 2rem;
    width:30vw;
    min-width:360px;
    display: flex;
    justify-content: space-between;
}

#main {
    position: fixed;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --color: linear-gradient(rgb(47,150, 163),rgb(48,62,143));
    background: var(--color);
    --background-url: none;
   
}
#main::before{
    content:""; 
    background-image: var(--background-url);
    background-size: cover;  
    animation: bg-animation linear 100s infinite;
    position:absolute;
    top:-1000px;
    left: -1000px;;
    height: 3668px;
    width:3530px;
    z-index: -1;

}
@keyframes bg-animation {
    from{
        transform:rotate(0);       
    }
    to {
        transform:rotate(360deg);
    }
    
}
#container{
    display:flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(31, 30, 30, 0.774);
    color:white;
    height:70vh;
    width:30vw;
    min-width: 360px;
    border-radius: 5px;
    justify-content: space-between;
    
}
.top-section{
    background-color: rgba(31, 30, 30, 0.966);
    width:100%;
}
.city-name{
    padding:2rem 0 0 3rem;
    background-color: rgba(31, 30, 30, 0.966);
}
.location{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.temperature{
    flex-direction: column;
    display: flex;
    width:50%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.degree-section{
    display:flex;
    align-items: center;

}
.degree-section span{
    margin:10px;
    font-size:30px;

}
.degree-section h2{
    font-size:40px;
}
#temperature-description{
    font-size:x-large;
}


/* new section positioning */

#news-section {
    position: absolute;
    top:0;
    left: -300px;
    width:500px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    --newsin: none; 
    animation: var(--newsin) linear ;
    transition: all 0.5s ease-in-out;
    
}
@keyframes newSliderIn {
    from{
        left: -300px;
    }
    to{
        left:0;
    }
}
@keyframes newSliderOut {
    from {
        left:0;
    }
    to{
        left: -300px;
    }
}

#news-section #news{
    width:300px;
    height:100vh;
    background-color: bisque;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    padding:0.5rem;
 
    
}
